<section class="sidebar"  >

  <!-- Sidebar user panel (optional) -->
  <div class="user-panel">
    <!-- <div class="pull-left image">
      <img [src]="personProfile.personImgUrl" class="img-circle" alt="User Image" />
    </div>
    <div class="pull-left info">
      <p>{{personProfile.personFirstName}} {{personProfile.personLastName}}</p>

      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div> -->
  </div>

  <!-- search form (Optional) -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search..." />
      <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
  <!-- /.search form -->

  <!-- Sidebar Menu -->
   <ul class="sidebar-menu" >
     <li *ngFor="let menu of SideBarMenusList ; let i = index" [class.active]="menu.isAssigned"  >
      <a  (click)="menuCollapse(i,'')"><i class={{menu.name}}>
           </i> <span>{{menu.name}}</span> <i *ngIf="menu.subMenu.length > 0" class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu" *ngIf="menu.subMenu.length > 0" >
          <li *ngFor="let subMenu of menu.subMenu;let subIndex=index" [ngClass]="{'active': clickedIndex == subIndex && menuIndex==i}" (click)="onClickSubMenu(subIndex,i)" ><a ><i class="fa fa-arrow-right fa-fw"></i> {{subMenu.name}}</a></li></ul>
<!-- </section> -->
