<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Testing</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet" href="/assets/css/AdminLTE.min.css">
    <!-- <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" type="text/css"> -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
   <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
    rel="stylesheet" />
</head>
<body>
        
    <div class="container mt-5 border border-dark"  >
        <h1>Project List</h1>
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Project Name</th>
                <th>Project manager</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    
                      <p class="text-muted mb-0">pname</p>
                    </div>
                  
                </td>
                <td>
                  <p class="fw-normal mb-1">Software engineer</p>
                  <p class="text-muted mb-0">IT department</p>
                </td>
                <td>
                  <span class="badge badge-success rounded-pill d-inline">Active</span>
                </td>
                <td>Start</td>
                <td>Enddate</td>
                <td>des</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm btn-rounded">Edit</button>
                    <button type="button" class="btn btn-link btn-sm btn-rounded">Edit</button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">

                    <div class="ms-3">
                      <p class="fw-bold mb-1">Alex Ray</p>
                      <p class="text-muted mb-0">alex.ray@gmail.com</p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="fw-normal mb-1">Consultant</p>
                  <p class="text-muted mb-0">Finance</p>
                </td>
                <td>
                  <span class="badge badge-primary rounded-pill d-inline">Onboarding</span>
                </td>
                <td>Start</td>
                <td>Enddate</td>
                <td>des</td>
                <td>
                    <button ype="button"class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"> Edit </button>
                    <button ype="button"class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"> Delete </button>
                 </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <p class="fw-bold mb-1">Kate Hunington</p>
                      <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="fw-normal mb-1">Designer</p>
                  <p class="text-muted mb-0">UI/UX</p>
                </td>
                <td>
                  <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
                </td>
                <td>Start</td>
                <td>Enddate</td>
                <td>des</td>
                <td>
                    <button ype="button"class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"> Edit </button>
                    <button ype="button"class="btn btn-link btn-rounded btn-sm fw-bold" data-mdb-ripple-color="dark"> Delete </button>
                 </td>
              </tr>
            </tbody>
          </table>
    
    </div>

  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
  <!--matarial UI-->>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/material-ui/4.12.4/index.js"></script>
 
</body>
</html>