<div class="col-md-12 row "  style="color: white;"  >
  <div  class="col-md-4 mt-1">
      <!-- <img   src="/assets/image/gormg.png" class="image" style="max-height: 45px;" > -->
      <a href="javascript:void(0)" (click)="sideberCollapse()" class="sidebar-toggle ml-5 my-0 " data-toggle="offcanvas" role="button" style="color: rgb(242, 252, 255);">
      </a>
    </div>
      <div  class="col-md-8 mt-1">

          <div class="navbar-custom-menu row "   >
              <a href="javascript:void(0)" (click) = "logout()" style="color: rgb(242, 252, 255);"><i class="ion ion-ios-log-out text-white mx-2"></i> Log Out</a>
          </div>
        </div>
</div>



