
.main-header  {
  max-height: 200px;

}
.main-header .sidebar-toggle {
  /* float: left; */
  background-color: transparent;
  background-image: none;
  padding: 15px;
  font-family: fontAwesome;
  margin-left: 20PX ;
}

.main-sidebar{
  max-height: 95vh !important;overflow: auto;
}
.content-wrapper{
 max-height: 88vh !important;overflow-y: auto;

}

@media screen and (max-width: 1376px) {

  .content-wrapper {
       height: 70vh !important;
       /* min-height: 700px !important; */
      max-height: 77vh !important;
  }
  /* .main-sidebar{
      max-height: 85vh !important;
  } */

}
